@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";
.navbar {
    align-items: center;
}
h1 {
    text-align: center;
    color:black;
    font-weight: bolder;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.form-control {
  margin: 1%;
  margin-left: 37%;
    text-align: center;
    width: 30px;
    height: 50px;
}
.button{
    margin-left: 37%;
    width: 30px;
    height: 50px;
    text-align: center;
}
body {
   background-image: url(../bg2.jpg);
    scroll-behavior: smooth;
}

.topPadding{
	padding-top:30px;
	padding-bottom:20px;
}
.searchPadding{
	padding-top:60px;
}